/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/07/2017, 16:12:29
    Author     : efren
*/

#principal{
    width: 1024px;
    margin: 0 auto;
}
#cuadro{
    margin: 250px auto;
    width: 40%;
    text-align: center;
}