<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <h2>Valorizar y Comentar</h2>

                <h:form>
                    <p:messages autoUpdate="true" showDetail="true" showSummary="false"/>
                    <p:dataTable value="#{comentarController.notas}" var="nota" paginator="true" rows="10"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" currentPageReportTemplate="Pagina: ({currentPage} de {totalPages})">
                        <p:column headerText="Persona" >
                            <h:outputText value="#{nota.persona.apellidos} #{nota.persona.nombres}"/>
                        </p:column>

                        <p:column headerText="Categoria" >
                            <h:outputText value="#{nota.categoria.nombre}"/>
                        </p:column>

                        <p:column headerText="Fecha" >
                            <h:outputText value="#{nota.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputText>

                        </p:column>

                        <p:column headerText="Valorizar y Comentar" >
                            <h:commandLink action="valorar" actionListener="#{comentarController.asignar(nota)}">
                                <h:graphicImage  library="images" name="star.png" width="32" height="32" />
                            </h:commandLink>

                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
