<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <h3>Consultar Telefonos</h3>
                <h:form>
                    <h:panelGrid columns="3">
                        <p:outputLabel value="Persona"/>
                        <p:selectOneMenu  value="#{consultarTelefonoController.codigoPersona}" filter="true" filterMatchMode="contains">
                            <f:selectItems value="#{consultarTelefonoController.listapersonas}" var="per" itemLabel="#{per.apellidos} #{per.nombres}" itemValue="#{per.codigo}"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Buscar" update="lista" icon="ui-icon-seacrh"  actionListener="#{consultarTelefonoController.buscarTelefonos()}"/>
                    </h:panelGrid>
                    
                    
                    <p:dataList id="lista" emptyMessage="No hay Registros" value="#{consultarTelefonoController.telefonos}" var="tel">
                        #{tel.numero}
                    </p:dataList>

                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
