<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../../WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <h3>Valorar</h3>
                <h:form>                    
                    <h:panelGrid columns="2">
                        <h:outputText value="Encabezado"/>
                        <h:outputText value="#{valorarController.nota.encabezado}"/>

                        <h:outputText value="Contenido"/>
                        <h:outputText value="#{valorarController.nota.cuerpo}"/>


                        <h:outputText value="Comentario"/>
                        <h:inputTextarea value="#{valorarController.nota.comentarioAdmin}"/>

                        <h:outputText value="Valoracion"/>
                        <p:rating value="#{valorarController.nota.valoracion}" />
                        
                        
                        <p:commandButton value="Registrar" icon="ui-icon-check" actionListener="#{valorarController.registrar()}" action="comentario" >
                            
                        </p:commandButton>
                    </h:panelGrid>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
