<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <h3>Buscar Nota</h3>
                <h:form>
                    <h:panelGrid columns="5">
                        <p:outputLabel for="cal" value="Fecha de Creacion"/>
                        <p:calendar locale="es" required="true" id="cal" value="#{buscarController.fechaConsulta}" pattern="dd/MM/yyyy"/>

                        <p:outputLabel for="cbcotegoria" value="Categoria"/>
                        <p:selectOneMenu id="cbcotegoria" rendered="true" value="#{buscarController.codigoCategria}">
                            <f:selectItems value="#{buscarController.categorias}" var="cat" itemValue="#{cat.codigo}" itemLabel="#{cat.nombre}"/>

                            <f:selectItem itemLabel="Seleciones Una Categoria" itemValue="#{null}" noSelectionOption="true"/>
                        </p:selectOneMenu>


                        <p:commandButton icon="ui-icon-search" value="Buscar" update="grid" actionListener="#{buscarController.buscar()}"/>


                    </h:panelGrid>
                    <p:dataGrid id="grid" value="#{buscarController.notas}" var="nota">
                        <p:panel header="#{nota.categoria.nombre}">
                            <p:panelGrid columns="2">                               
                                <p:outputLabel value="#{nota.encabezado}"/>
                                <p:outputLabel value="#{nota.cuerpo}"/>
                                <p:inputTextarea value="#{nota.comentarioAdmin}" disabled="true"/>
                                <p:rating value="#{nota.valoracion}" readonly="true" />   
                            </p:panelGrid>
                        </p:panel>

                    </p:dataGrid>
                </h:form>
                <h:outputScript library="js" name="spanishLocale.js"/>
            </ui:define>

        </ui:composition>

    </body>
</html>
