<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../../WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <p:growl autoUpdate="true" showSummary="false" showDetail="true"/>
                <h:form id="frmPrincipal">
                    <h3>Telefonos</h3>
                    <p:commandButton icon="ui-icon-plusthick" value="Nuevo" onclick="PF('wdialogo').show();" actionListener="#{telefonoController.setAccion('R')}" update=":frmdialogo"/>
                    <p:dataTable id="tabla" emptyMessage="Ningun Numero Registrado" value="#{telefonoController.listatelefonos}" var="tel" editable="true">
                        <p:column headerText="Numero de Telefono" filterBy="#{tel.numero}" filterMatchMode="contains">
                            <p:cellEditor>
                                <f:facet name="output">
                                    <h:outputText value="#{tel.numero}"/>
                                </f:facet>
                                <f:facet name="input">
                                    <h:inputText value="#{tel.numero}"/>
                                </f:facet>
                            </p:cellEditor>

                        </p:column>
                        <p:ajax event="rowEdit" listener="#{telefonoController.modificar(tel)}" update="tabla"/>

                        <p:column style="width: 32px">
                            <p:rowEditor/>
                        </p:column>
                    </p:dataTable>
                </h:form>



                <p:dialog id="dialogog" widgetVar="wdialogo" header="Nuevo Telefono" modal="true" resizable="false" closeOnEscape="true" draggable="false">
                    <h:form id="frmdialogo">
                        <h:panelGrid columns="2">
                            <p:outputLabel for="txtNumero" value="Nuevo"/>
                            <p:inputMask id="txtNumero" mask="9999999999" slotChar="" required="true" value="#{telefonoController.telefono.numero}"/>                            
                            <p:commandButton value="Registrar" icon="ui-icon-check" update=":frmPrincipal:tabla" actionListener="#{telefonoController.registar()}" oncomplete="PF('wdialogo').hide();" rendered="#{telefonoController.accion=='R'}"/>
                            <p:commandButton value="Modificar" icon="ui-icon-check" update=":frmPrincipal:tabla" actionListener="#{telefonoController.modificar()}" oncomplete="PF('wdialogo').hide();" rendered="#{telefonoController.accion=='M'}"/>
                            <p:commandButton value="Cancelar" icon="ui-icon-close" immediate="true" onclick="PF('wdialogo').hide();"/>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>

            </ui:define>

        </ui:composition>

    </body>
</html>
